In [13]:
a="helloprogramming"
b=a[:-5:-1]
b

'gnim'

In [1]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        if i<=1:
            print(j,end="")
        else:
            print(j,end="")
    print()

 5

1
12
123
1234
12345

In [15]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [17]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [19]:
for i in range(1,6):
    print(' '*(5-i)+"*"*(2*i-1))

    *
   ***
  *****
 *******
*********

In [23]:
for i in range(1,6):
    print(' '*(5-i)+"*"*(2*i-1))
for i in range(4,0,-1):
    print(' '*(5-i)+"*"*(2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [35]:
for i in range(5):
    for j in range(5):
        if i==0 or i==4 or j==0 or j==4:
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
*   *
*   *
*   *
*****

In [39]:
for i in range(1,6):
    for j in range(1,i+1):
        if i ==1:
            print(i,end="")
        else:
            print(j,end="")
    print()

1
12
123
1234
12345

In [43]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        if i ==1:
            print(i,end="")
        else:
            print(j,end="")
    print()

12345
1234
123
12
1

In [55]:
num=1#FLOYDS TRIANGLE
for i in range(1,6):
    for j in range(1,i+1):
       print(num,end="")
       num+=1
    print()

1
23
456
78910
1112131415

In [57]:
for i in range(5,0,-1):
    print(' '*(5-i)+"*"*(2*i-1))

*********
 *******
  *****
   ***
    *

In [59]:
import math  # Required for math.comb()

n = 5
for i in range(n):                # Outer loop for rows (0 to 4)
    for j in range(n - i - 1):    # Printing spaces for alignment
        print(' ', end='')       
    for j in range(i + 1):        # Printing Pascal's Triangle values
        print(str(math.comb(i, j)) + ' ', end='') 
    print()                       # Move to the next line after each row

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [63]:
for i in range(1,6):
    print(' '*(5-i)+str(i)*(2*i-1))
for i in range(4,0,-1):
    print(' '*(5-i)+str(i)*(2*i-1))

    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

In [67]:
num=1
for i in range(1,6):
    print(' '*(5-i)+str(num)*(2*i-1))
    num+=1

    1
   222
  33333
 4444444
555555555

In [78]:
num=1#FLOYDS TRIANGLE
for i in range(1,6):
    for j in range(1,i+1):
       b=5-i
       print(" "*b+str(num),end="")
       num+=1
    print()

    1
   2   3
  4  5  6
 7 8 9 10
1112131415

In [3]:
n = int(input())  # User input for number of rows
for i in range(1, n + 1):  # Outer loop controls rows
    for j in range(1, i + 1):  # Inner loop controls elements in each row
        if i <= 1:
            print(j)  # For the first row, print normally (with newline)
        else:
            print(j, end="")  # For other rows, print without newline

 5

1
12123123412345